html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: radial-gradient(51.4% 51.4% at 50% 48.6%, #4E2A0D 0%, #251204 100%) no-repeat;
  overflow: hidden;
}



p{
  color: #FFFFFF;
  overflow: hidden;

}
.backBtn{
  background-image: url('backBtn.svg');
    text-decoration: none;
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    width: 100px;
    height: 46px;
    padding: 0;
    background-size: 100% 100%; 
    pointer-events: auto; 
    object-fit: cover; 
    font-family: Roboto;
font-size: 16px;
font-weight: 400;
line-height: 19px;
letter-spacing: 0em;
text-align: left;
color: white;
margin-bottom: 30px;


}
a{
  text-decoration: none;
  overflow-wrap: break-word;
  color: black;
}
input{
  border-radius: 5px;
  background: #F2E9D7;
  border: none;
  
  
  
  }

  #discIn{
    background: radial-gradient(50% 50% at 50% 50%, #FCF9F4 0%, #F1E6D2 100%);
    border: none;
    resize: 'both';
    top: 412px;
    left: 30px;
    border-radius: 8px;
    min-width: 357px;
    min-height: 90px;
    max-height: 30%;
    resize: none;
padding: 10px;
border: 1px solid #ddd;
display: block;
margin: 12px 12px 24px 0px;
;
}
@media screen and (max-width: 767px) {
  #discIn{
    min-width: 300px;
    max-width: 400px;
  }}